$primary: #2d8cf0;
$carboncopy: #333333;
$light-copy: #666666;
$framing: #cccccc;
$background: #ffffff;
$font: "Courier New", "Comic Sans MS", "Comic Sans", "Helvetica";
$light-gray: rgb(143, 140, 140);